{% extends 'basic.html' %}
{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid" style="background:none;">
        <div class="container">
            <h1 class="display-4">WELCOME</h1>
            <h1 class="display-4">TO</h1>
            <h1 class="display-4">Medical Store Management System</h1>
            <p class="lead">We are here to serve you in a best way that you deserve.</p>
        </div>
    </div>
</div>
<div class="container-fluid" style="background:#443f3f;">
    <div class="row">
        <div class="col-sm-3">
            <div class="card mt-3 ml-3 mr-3" style="width: 18rem;">
                <img src="/static/images/ban5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color:black;" class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card mt-3 ml-3 mr-3" style="width: 18rem;">
                <img src="/static/images/ban4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color:black;" class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card mt-3 ml-3 mr-3" style="width: 18rem;">
                <img src="/static/images/ban3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color:black;" class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card mt-3 ml-3 mr-3" style="width: 18rem;">
                <img src="/static/images/ban3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color:black;" class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ">
            <div class="card mt-3 ml-3 mr-3" style="width: 18rem;">
                <img src="/static/images/ban2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p style="color:black;" class="card-text">Some quick example text to build on the card title and
                        make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock  %}
{% block css %}
.carousel-inner .carousel-item .carousel-caption{
color:black;
}
.card .card-body .card-text{
color:black;
}
{% endblock  %}