{% comment %} {% extends 'basic.html' %} {% endcomment %}

<html>
    <head>
        <title>Add/Remove Input Fields Dynamically with jQuery</title>
    </head>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
			  ></script>
		
	
	<script>
	$(document).ready(function() {
    var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID
   
    var x = 1; //initlal text box count
	
	
   $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
	
		     //text box increment
            $(wrapper).append('<div><input type="text" name="mytext[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
            x++; 
	  }
    });
   
    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
       
		e.preventDefault(); 
		$(this).parent('div').remove(); 
		x--;
    })
});
	
	</script>
	<body>
     <div class="input_fields_wrap">
    <button class="add_field_button">Add More Fields</button>
    <div><input type="text" name="mytext[]"></div>
	
     </div>
</body>
</html>
















{% comment %} 

<script>
$(document).ready(function(){
    var max_fields= 10;
    var wrapper=$(".input_field_wrap");
    var add=$(".add_field_button");
    var x=1;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x<max_fields){
            x++;
            $(wrapper).append('<div><input type="text" name= "mytext[]"/><a href="#" class=""')
        }
    })


    $("#add").click(function(e){
        event.preventDefault()
        $('#items').append('<div><input type="text" name="user-name"> <input type="text" name="user-email"> ' +
        '<input type="button" value="delete" id="delete" /></div>');
    });
    
    $('body').on('click','#delete', function (e){
                            $(this).parent('div').remove();
        
    });
});
</script>
{% block body %}
    <form action="">
    <div id="items">
    <input type="text" name="user-name"> <input type="text" name="user-email">

    
    </div>

    <input type="button" value="add-entry" id="add">
    <input type="submit" value="submit">
    </form>
{% endblock  %}
{% block js %}

{% endblock  %} {% endcomment %}
