{% extends 'basic.html' %}
{% block body %}
{% load static %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="col-md-6 offset-md-3">
 <h3 class="text-center">List Of Stocks</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Items</th>
      <th scope="col">Total</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
  {% for p in sales %}
    <tr>
      <th scope="row">{{p.id}}</th>
      <td>{{p.items_json}}</td>
      <td>{{p.amount}}Tk</td>
      <td>{{p.name}}</td>
      <td>{{p.phone}}</td>
       </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% else %}
<h2>Please Log in to Create a Post</h2>
{% endif %}
{% endblock body %}
