body {
  margin: 0;
  padding: 0;
  font-family: sens-serif;
  height: 100vh;
  
}
.nav ,.collapse{
  width:100%;
}
.list-group-item {
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: rgb(35 36 255);
  border: 1px solid rgba(0,0,0,.125);
}

.navbar .nav .nav-item .nav-link:link,
.navbar .nav .nav-item .nav-link:visited {
  color: #26f1fb;
  text-align: center;
  
}
.navbar .nav .nav-item .nav-link:hover,
.navbar .nav .nav-item .nav-link:active {
  color: blueviolet;
  text-align: center;
  border-bottom: 2px solid blueviolet;
  transition: border-bottom 0.2s;
}
a .dropdown-item:hover {
  background-color: salmon;
}
* {
  padding: 0;
  margin: 0;
  border-radius: border-box;
}

order-1,
order-6 {
  color: white;
  /* text-shadow: 1px 2px blue; */
}

.container {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate (-50%, -50%);
  color: white;
  /* text-shadow: 1px 2px blue; */
}
.container-fluid {
  text-align: left;

  transform: translate (-50%, -50%);
  color: white;
  /* text-shadow: 1px 2px blue; */
}
.container b,
.container-fluid b {
  color: white;
  /* text-shadow: 1px 2px blue; */
}

.conatiner h1 {
  float: center;
  font-size: 40px;
  border-bottom: 6px solid #4caf50;
  margin-bottom: 50px;
  padding: 13px 0;
}

.textbox {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
  color: white;
  /* text-shadow: 1px 2px blue; */
}
.asteriskField {
  display: none;
}
.form-group {
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #4caf50;
  color: white;
  /* text-shadow: 1px 2px blue; */
  background: none;
  margin-bottom: 1rem;
  margin: 10px;
  padding: 10px;
}
.alert-error {
  border: 2px solid red;
}
.alert-warning {
  border: 2px solid yellow;
}
.alert-success {
  border: 2px solid green;
}
.alert-info {
  border: 2px solid blue;
}
.form-group label {
  width: 100%;
  text-align: left;
}
.form-text {
  width: 100%;
  overflow: ;
  font-size: 12px;
  padding: 8px 0;
  margin: 8px 0;
  color: white;
  text-align: left;
}
.form-text ul li {
  width: 100%;
  overflow: ;
  font-size: 12px;
  padding: 8px 0;
  margin: 8px 0;
  color: white;
  text-align: left;
}
#hint_id_username {
  color: white;
  display: contents;
}

input {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: white;

  float: left;
  margin: 0 10px;
  font-size: 18px;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  margin-right: -120px;
  right: 0;
}

.textinput {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  float: left;
  margin: 0 10px;
  font-size: 18px;
}
.textinput:hover {
  background: rgb(27, 3, 252);
}
.select {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  float: left;
  margin: 0 10px;
  font-size: 18px;
}
.select:hover {
  background: rgb(27, 3, 252);
}
.alert {
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  width: auto;
}

.row .col-md-3 {
  background: none;
  /* text-shadow: brown; */
  width: 280px;
  position: absolute;
  float: right;
  text-align: right;
  color: white;
  /* text-shadow: 1px 2px blue; */
}
.textbox textarea,
.emailinput,
.textarea form-control,
.asteriskField {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  float: left;
  margin: 0 10px;
  font-size: 18px;
}
textarea.form-control {
  height: auto;
  background: none;
}
.form-group textarea,
.form-control textarea,
textarea,
.textarea form-control {
  width: 100%;
  border: none;
  outline: none;
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  float: left;
  margin: 0 10px;
  font-size: 18px;
}
.in {
  width: 100px;
  border: none;
  outline: none;
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  float: left;
  margin: 0 10px;
  font-size: 18px;
}

.btn {
  width: auto;
  background: none;
  border: 2px solid #4caf50;
  color: white;
  /* text-shadow: 1px 2px blue; */
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 0;
}

.col-md-6 a {
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
  font-size: 18px;
  cursor: pointer;
}

.col-md-6 p,
b {
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
}
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10 {
  background: none;
  color: white;
  /* text-shadow: 1px 2px blue; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: none;
  color: aquamarine;
}
.navbar-brand img {
  height: 50px;
}
@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.textbox i {
  width: 40px;
  float: left;
  text-align: center;
}
